/**         Styles Guide       **/

/*  
    Hero Heading Text:
        Italiana, Regular (400), 162px (8.1rem)
        Right, Line height: 140.4px (7.02);
    
    Hand Crafted, Latest Collection:
        Italiana, Regular(400), 51px (2.55rem)

    Hero Sub-heading ('Jewelers'):
        Lato, Light (300), 45px (2.25rem)
        Right, Line height: 46px (2.3)

    Catalogue, Events, Collaborations:
        Italiana, Regular(400), 30px (1.5rem)
        Center

    Read More:
        Italiana, Regular (400), 25px (1.25rem)
        Center, Line height: 29px (1.45)

    Foot Headings (Stay Updated, Contact)
        Italiana, Regular (400), 25px (1.25rem)
        Right

    Footer Navigation Items:
        Italiana, Regular (400), 20px (1rem)
        Line height: 29px (1.45)
    
    Top Navigation Items:
        Lato, Regular (400), 20px (1rem)
        Line height: 29px (1.45)

    Body Text:
        Lato, Light (300), 20px (1rem)
        Line height: 29px (1.45)

*/

:root {
    /*  Fonts  */
    --italiana: "Italiana", serif;
    --lato: "Lato", sans-serif;
    /*  Colors  */
    --text-color: #fff;
    --accent-color: #faba63;
    --dark-one: #201e21;
    --dark-two: #14171f;
}

/**     Global Styles      **/

html {
    font-size: 125%;
}

body {
    color: var(--text-color);
    background-color: var(--dark-one);
    font-family: var(--lato);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.45;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: inherit;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-family: var(--italiana);
    font-weight: 400;
    font-size: clamp(2.8rem, 15vw, 8.1rem);
    line-height: .86;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    color: var(--accent-color);
    font-family: var(--lato);
    font-weight: 300;
    font-size: clamp(.8rem, 4vw, 2.25rem);
    line-height: 1.02;
    text-transform: capitalize;
    margin: 0;
}

h3 {
    font-family: var(--italiana);
    font-weight: 400;
    font-size: clamp(1.5rem, 5vw, 2.55rem);
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

h4{
    font-family: var(--italiana);
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
}

/*******************************************/
/***********  Sections Styling   ***********/
/*******************************************/

/*******           Header         **********/

header {
    height: 100vh;
}

/* navigation bar and button */

.top-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 60px;
}

.menu-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* To center the menu button inside its container*/
    width: 44px;
    height: 44px;
    cursor: pointer;
}

/* Menu button lines */
.menu-button,
.menu-button::before,
.menu-button::after {
    background-color: var(--text-color);
    position: absolute;
    /*https://chenhuijing.com/blog/flexbox-and-absolute-positioning/*/
    height: 3px;
    width: 44px;
    transition: all 400ms ease-in-out;
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    top: -12px;
}

.menu-button::after {
    content: "";
    top: 12px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    top: 0px;
    transform: rotate(225deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: transparent;
    /* mid line dissapears*/
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    top: 0px;
    transform: rotate(-225deg);
}

/* Top nav menu list */

.top-nav .menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}

#menu-toggle~.menu li {
    background-color: var(--dark-one);
    height: 0;
    overflow: hidden;
    transition: height 400ms ease-out;
    /* same duration as button rotation*/
}

#menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 3em;
    transition: height 400ms ease-out;
}

.top-nav a {
    display: inline-block;
    width: 100%;
    padding: 1em;
    color: var(--accent-color);
    font-family: var(--lato);
    font-weight: 400;
    text-align: center;
}

.top-nav a:hover,
.top-nav a:focus {
    color: var(--dark-one);
    background-color: var(--accent-color)
}

/*  Hero Heading  */

.main-heading {
    margin-top: 18vh;
    width: 45%;
    text-align: right;
}

.main-heading span {
    display: block;
}


.main-heading span::before,
.main-heading span::after {
    content: "-";
}

/* Hero Side Nav */

.hero-side-nav {
    display: none;
}

.background-images {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*******          About Section          **********/

.about-section {
    background-color: var(--dark-two);
    padding: 2.5rem 0;
}

.about-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.read-more-links {
    color: var(--text-color);
    background-color: transparent;
    font-family: var(--italiana);
    font-size: 1.25rem;
    line-height: 1.45;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid var(--accent-color);
    padding: .3em .6em;
    margin-top: 1em;
}

.read-more-links:hover {
    border-color: var(--dark-one);
    background-color: #7a4800
}

.read-more-links:active {
    border-color: var(--accent-color);
    background-color: var(--dark-one)

}

/*******          Latest Section          **********/

.latest-collection-section {
    text-align: center;
    padding: 2.5rem 0;
}

.gallery {
    display: flex;
    padding-top: 3rem;
    margin: -1%; /* to align with wrapper*/
    overflow: hidden;
}

.gallery li {
    margin: 1%;
    flex: 1 0 48%;
}

/*******          Latest Section          **********/

.links-banner-section {
    background-color: var(--dark-two);
    padding: 2.5rem 0;
}

.links-banner-section .links-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-banner-section li {
    text-align: center;
}

.links-banner-section li:not(:last-of-type) {
    margin-bottom: 2rem;
}

.links-banner-section i {
    color: var(--accent-color);
    font-size: clamp(2.5rem, 5vw, 3.2rem);
    margin-bottom: .2em;
}

.links-banner-section i:hover {
    color: #7a4800;
}

/*******          Sustainable Materials Section          **********/
/* 
.sustainable-materials-section {
    padding: 2.5rem 0;
} */
/* 
.articles-section .article {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.articles-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
}