/**         Styles Guide       **/

/*  
    Hero Heading Text:
        Italiana, Regular (400), 162px (8.1rem)
        Right, Line height: 140.4px (7.02);
    
    Hand Crafted, Latest Collection:
        Italiana, Regular(400), 51px (2.55rem)

    Hero Sub-heading ('Jewelers'):
        Lato, Light (300), 45px (2.25rem)
        Right, Line height: 46px (2.3)

    Catalogue, Events, Collaborations:
        Italiana, Regular(400), 30px (1.5rem)
        Center

    Read More:
        Italiana, Regular (400), 25px (1.25rem)
        Center, Line height: 29px (1.45)

    Foot Headings (Stay Updated, Contact)
        Italiana, Regular (400), 25px (1.25rem)
        Right

    Footer Navigation Items:
        Italiana, Regular (400), 20px (1rem)
        Line height: 29px (1.45)
    
    Top Navigation Items:
        Lato, Regular (400), 20px (1rem)
        Line height: 29px (1.45)

    Body Text:
        Lato, Light (300), 20px (1rem)
        Line height: 29px (1.45)

*/

:root {
    /*  Fonts  */
    --italiana: "Italiana", serif;
    --lato: "Lato", sans-serif;
    /*  Colors  */
    --text-color: #fff;
    --accent-color: #faba63;
    --dark-one: #201e21;
    --dark-two: #14171f;
}

/**     Global Styles      **/

html {
    font-size: 125%;
}

body {
    color: var(--text-color);
    background-color: var(--dark-one);
    font-family: var(--italiana);
    font-weight: 300;
    font-size: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: inherit;
}

.wrapper {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

img {
    min-width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-family: var(--italiana);
    text-transform: uppercase;
}

h2 {
    color: var(--accent-color);
    font-family: var(--lato);
    font-weight: 300;
}

/*******************************************/
/***********  Sections Styling   ***********/
/*******************************************/

/*******           Header         **********/

header {
    height: 100vh;
}

/* navigation bar and button */

.top-nav .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 60px;
}

.menu-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* To center the menu button inside its container*/
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    background-color: var(--text-color);
    position: absolute;
    /*https://chenhuijing.com/blog/flexbox-and-absolute-positioning/*/
    height: 3px;
    width: 44px;
    transition: all 400ms ease-in-out;
    border-radius: 2px;
}

/* Menu button lines */

.menu-button::before {
    content: "";
    top: -12px;
}

.menu-button::after {
    content: "";
    top: 12px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    top: 0px;
    transform: rotate(225deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    top: 0px;
    transform: rotate(-225deg);
}

/* Top nav menu list */

.top-nav .menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}

#menu-toggle~.menu li {
    background-color: var(--dark-one);
    height: 0;
    overflow: hidden;
    transition: height 400ms ease-out;
}

#menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 3em;
    transition: height 400ms ease-out;
}

.top-nav a {
    display: inline-block;
    width: 100%;
    padding: 1em;
    color: var(--accent-color);
    font-family: var(--lato);
    font-weight: 400;
    text-align: center;
}

/* Hero Side Nav */

.hero-side-nav {
    display: none;
}

.background-images {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}